{% extends 'layout.html' %}
{% load static %}

{% block title %}
    About
{% endblock %}

{% block content %}
    <h1>О сайте</h1>
    <div class="about_project">
        <p>Добро пожаловать! Это проект Владислава Кузнецова по разработке  программного обеспечения для развития компетенций сотрудников стоматологической клиники🦷</p>
        <p>Данная веб-страница будет постепенно обновляться и наполняться контентом.</p>
        <p>Если у Вас имеются какие-либо идеи или предложения по развитию проекта - прошу обращаться в телеграмм</p>
        <p>@w1z4rdWP</p>
    </div>
    <br>
    <p>Go back to <a href="/">home</a> page</p>
{% endblock %}

